# PostgreSQL Configuration
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=datamais
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here

# InfluxDB Configuration
INFLUX_URL=http://localhost:8086
# Token gerado após instalação do InfluxDB:
INFLUX_TOKEN=MkpRB5OIOlb9xQTZetpDE4ZCDB2hezbqlSDYNzmqMzenvRaPtxAX2iMHZAUTwhTQv8ty6yNIfJnPhlbXZPEiIA==
INFLUX_ORG=datamais
INFLUX_BUCKET=sensores

# Modbus Configuration
MODBUS_TIMEOUT_MS=5000
MODBUS_RETRY_COUNT=3
MODBUS_POOLING_INTERVAL_MS=100
